#paretoModal.reveal-modal(data-reveal=true)
  section.panel.radius.analysis-chart#pareto_charts_form
    a.close-reveal-modal x
    h3.subheader Pareto chart

    form
      .row
        .small-5.columns
          label(class='inline') Select output parameter
        .small-7.columns
          select.outputParam
            each parameter in output
              option(value=parameter)= parameter

      .row
        ul.inline-list
          li
            button.button.radius Load chart
            //t('charts.load_button')
          li
            img(src='#{prefix}/images/loading.gif', id='busy_pareto', size='16x16', style='display: none')


  .charts
    .scripts

script.
  $(function(){
    $("#paretoModal").foundation("reveal", "close");

    var pareto_chart_counter = 0;
    var scripts_loaded = false;

    var experimentID_withLink = document.URL.split("/").slice(-1)[0];
    var experimentID = experimentID_withLink.split("#")[0];
    if(experimentID[experimentID.length-1]=="?")
      experimentID = experimentID.slice(0,-1);

    // 'Load chart' button handler
    $('#pareto_charts_form button').bind('click', function() {
      $('#busy_pareto').show();
      if(!scripts_loaded){
        $("#paretoModal .scripts").load("#{prefix}/scripts/pareto");
        scripts_loaded = true;
      }

      var pareto_chart_div = $("<div id=\"pareto_chart_"+pareto_chart_counter+"\">")[0];
      $("#paretoModal .charts").prepend(pareto_chart_div);

      var outputParam = $("#paretoModal .outputParam option:selected").val();

      var query_params = "id="+experimentID;
          query_params += "&output="+outputParam;
          query_params += "&chart_id="+pareto_chart_counter;

      $(pareto_chart_div).load("#{prefix}/pareto?"+query_params, function() { 
        $('#busy_pareto').hide();
        var targetOffset = $(this).offset().top;
        $('html,body').animate({ scrollTop: targetOffset }, 1000);
      });
      pareto_chart_counter++;

      return false;
    })
  })