#threeDModal.reveal-modal(data-reveal=true)
  section.panel.radius.analysis-chart#threeD_charts_form
    a.close-reveal-modal &#215
    h3.subheader 3D scatter plot charts

    //TODO - three parameters to choose from both input and output
    form
      .row
        .small-5.columns
          label(class='inline') Select first parameter
        .small-7.columns
          select.firstParam
            each parameter in parameters
              option(value=parameter.id)= parameter.label
      .row
        .small-5.columns
          label(class='inline') Select second parameter
        .small-7.columns
          select.secondParam
            each parameter in parameters
              option(value=parameter.id)= parameter.label

      .row
        .small-5.columns
          label(class='inline') Select output parameter
        .small-7.columns
          select.outputParam
            each parameter in output
              option(value=parameter)= parameter

      .row
        ul.inline-list
          li 
            button.button.radius Load chart
          li
            img(src='#{prefix}/images/loading.gif', id='busy_3d', size='16x16', style='display: none')

  .charts
    .scripts

script.
  $(function() {
    $("#threeDModal").foundation("reveal", "close");

    var experimentID_withLink = document.URL.split("/").slice(-1)[0];
    var experimentID = experimentID_withLink.split("#")[0];
    if(experimentID[experimentID.length-1]=="?")
      experimentID = experimentID.slice(0,-1);

    var three_d_chart_counter = 0;
    var scripts_loaded = false;

    $("#threeDModal button").bind("click", function() {
      $("#busy_3d").show();
      if(!scripts_loaded) {
      $("#threeDModal .scripts").load("#{prefix}/scripts/3d");
        scripts_loaded = true;
      }
	  
      var three_d_chart_div = $("<div id=\"three_d_chart_"+three_d_chart_counter+"\">")[0];
      $("#threeDModal .charts").prepend(three_d_chart_div);
      //TODO - if there's nothing to select -> do nothing
      //var x_axis = $("#interactionModal .firstParam option:selected").val();
      //var y_axis = $("#interactionModal .secondParam option:selected").val();
      //var outputParam = $("#interactionModal .outputParam option:selected").val();
      var query_params = "id="+experimentID;
      //    query_params += "&param1="+x_axis;
      //    query_params += "&param2="+y_axis;
      //    query_params += "&output="+outputParam;
      query_params += "&chart_id="+three_d_chart_counter;
      $(three_d_chart_div).load("#{prefix}/3d?"+query_params, function(){
        $("#busy_3d").hide();
		
        var targetOffset = $(this).offset().top;
        $('html,body').animate({ scrollTop: targetOffset }, 1000);
      });
      three_d_chart_counter++;

      return false;
    })
  })