//i18n

input(placeholder="Search by name...", id="searchBox", type="text") 
ul(id="searchList")
  dl.accordion(data-accordion="")
    dd.accordion-navigation
      each group in groups
        a(href="#"+group.id)= group.name
        div(id=group.id).content
          dl
            each method in group.methods
              li(id=method.name)
                unless method.em_class
                  a(href="#", data-reveal-id=method.id, data-tooltip="", title=method.description)= method.name
                    br
                    img(src=method.image)
                else
                  a(href="#", em-class=method.em_class, data-reveal-id=method.id, data-tooltip="", title=method.description)= method.name
                    br
                    img(src=method.image)

//a(href="//"+address+"/style", rel="stylesheet", type="text/css")

//TODO - generic
include ./visualisation_methods/pareto/paretoModal.jade
include ./visualisation_methods/interaction/interactionModal.jade
include ./visualisation_methods/3d/3dModal.jade

script.
  $(function(){
    var ids = [];
    $('#searchList li').each(function(){
      ids.push($(this).attr("id"));
    });

    $('#searchBox').autocomplete({
      source: ids,
      select: function(event, selected){
      	var id = selected.item.value;
        $("#searchList li#" + id + " > a ").click();
      }
    });
    $('.ui-autocomplete').addClass('f-dropdown').css("z-index", 1000);

    $('#searchBox').keyup(function(){
      var searchVal = $(this).val().toLowerCase();
      if(searchVal == ""){
        $('#searchList li').show();           
      } else {
        $('#searchList li').each(function(){
          var id = $(this).attr("id").toLowerCase();
          (id.indexOf(searchVal) >= 0) ? $(this).show() : $(this).hide();
        });
      }
    });

    
    $("#searchList [data-reveal-id=experiment-analysis-modal]").on("click", function(event){
      var modalIdName = $(event.currentTarget).attr('data-reveal-id');
      var className = $(event.currentTarget).attr('em-class');

      $("#" + modalIdName + " .content").hide();
      $("#" + modalIdName + " ." + className + "-content").show();
    })

    $(document).foundation({
      accordion: {
        //specify the class used for active (or open) accordion panels
        active_class: 'active',
        // allow multiple accordion panels to be active at the same time
        multi_expand: true,
        // allow accordion panels to be closed by clicking on their headers
        // setting to false only closes accordion panels when another is opened
        toggleable: true
      }
    });
    $("#searchList dd>div").first().addClass("active");
  });