//i18n

input(placeholder="Search by name...", id="searchBox", type="text") 
ul(id="searchList")
  dl.accordion(data-accordion="")
    dd.accordion-navigation
      each group in groups
        a(href="#"+group.id)= group.name
          div(id=group.id).content
            dl 
              each method in group.methods
                li(id=method.name)
                  unless method.em_class
                    a(href="#", data-reveal-id=method.id)= method.name
                      img(src=method.image)
                      p= method.description
                  else
                    a(href="#", em-class=method.em_class, data-reveal-id=method.id)= method.name
                      img(src=method.image)
                      p= method.description

p Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker

//a(href="//"+address+"/style", rel="stylesheet", type="text/css")

//TODO - generic
include ./pareto/paretoModal.jade
include ./interaction/interactionModal.jade
include ./3d/3dModal.jade

script.
  $(function(){
    var ids = [];
    $('#searchList li').each(function(){
      ids.push($(this).attr("id"));
    });

    $('#searchBox').autocomplete({
      source: ids,
      select: function(event, selected){
      	var id = selected.item.value;
        $("#searchList li#" + id + " > a ").click();
      }
    });
    $('.ui-autocomplete').addClass('f-dropdown').css("z-index", 1000);

    $('#searchBox').keyup(function(){
      var searchVal = $(this).val().toLowerCase();
      if(searchVal == ""){
        $('#searchList li').show();           
      } else {
        $('#searchList li').each(function(){
          var id = $(this).attr("id").toLowerCase();
          (id.indexOf(searchVal) >= 0) ? $(this).show() : $(this).hide();
        });
      }
    });

    
    $("#searchList [data-reveal-id=experiment-analysis-modal]").on("click", function(){
      var modalIdName = $(event.currentTarget).attr('data-reveal-id');
      var className = $(event.currentTarget).attr('em-class');

      $("#" + modalIdName + " .content").hide();
      $("#" + modalIdName + " ." + className + "-content").show();
    })

    $(document).foundation({
      accordion: {
        //specify the class used for active (or open) accordion panels
        active_class: 'active',
        // allow multiple accordion panels to be active at the same time
        multi_expand: true,
        // allow accordion panels to be closed by clicking on their headers
        // setting to false only closes accordion panels when another is opened
        toggleable: true
      }
    });
  });